@font-face {
    font-family: 'Harry P Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harry P Regular'), url('HARRYP__.woff') format('woff');
    }

@font-face {
    font-family: 'Lumos';
    font-style: normal;
    font-weight: normal;
    src: local('Lumos'), url('LUMOS.woff') format('woff');
    }

@font-face {
    font-family: 'Harry Potter and the Dingbats';
    font-style: normal;
    font-weight: normal;
    src: local('Harry Potter and the Dingbats'), url('harry_potter_and_the_dingbat_font.woff') format('woff');
    }

.container {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    background-color: #e4ded0;
    margin: 10% auto;
    text-align: center;
}

